.unimath {
    & > img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    &:hover {
        background-color: #eee;
    }
}

// menu
.unimath-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    z-index: 200;
}

$menu-items: 4;
$popup-ul-padding: 0.2em;
$popup-li-padding: 0.1em;

.unimath-popup {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 1em;
    height: 1$menu-items; //$menu-items * (1em + 2 * $popup-li-padding) + 2 * $popup-ul-padding;
    border: 0.1em solid lightgray;
    border-radius: 0.2em;
    background-color: white;
    z-index: 200;
    box-shadow: 0 1em 2em #808080;
    ul {
        list-style: none;
        padding: $popup-ul-padding;
        margin: 0;
    }
    li {
        display: block;
        padding: $popup-li-padding 0.5em;
        cursor: pointer;
        &:hover {
            background-color: lightblue;
        }
        span {
            position: absolute;
            right: 0.2em;
        }
    }
}
